backend/n8n/workflows/hana-voice-to-story.json
{
  "name": "Hana - Voice to Structured Story",
  "nodes": [
    {
      "parameters": {
        "path": "hana/voice-to-story",
        "httpMethod": "POST",
        "responseMode": "lastNode",
        "options": {}
      },
      "id": "webhook_story_submitted",
      "name": "Story Submitted (Webhook)",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        220,
        300
      ],
      "webhookId": "hana-voice-to-story"
    },
    {
      "parameters": {
        "jsCode": "const payload = $json;\nconst required = [\"queue_item_id\", \"profile_id\", \"audio_url\"];\nconst missing = required.filter((key) => !payload[key]);\nif (missing.length) {\n  throw new Error(\"Missing required fields: \" + missing.join(\", \"));\n}\n\nconst normalized = {\n  ...payload,\n  api_base:\n    payload.api_base ||\n    $env.HANA_API_BASE ||\n    \"http://localhost:4200/api\",\n  transcribe_model:\n    payload.transcribe_model ||\n    $env.OPENAI_TRANSCRIBE_MODEL ||\n    \"gpt-4o-mini-transcribe\",\n  structure_model:\n    payload.structure_model ||\n    $env.OPENAI_STRUCTURING_MODEL ||\n    \"gpt-4.1-mini\",\n  generated_at: new Date().toISOString(),\n};\n\nreturn [{ json: normalized }];"
      },
      "id": "code_validate_input",
      "name": "Validate Input",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        440,
        300
      ]
    },
    {
      "parameters": {
        "jsCode": "const apiBase = $json.api_base;\n\nconst [profilesResp, packsResp] = await Promise.all([\n  fetch(apiBase + \"/family-profiles\"),\n  fetch(apiBase + \"/heritage-packs\"),\n]);\n\nif (!profilesResp.ok) {\n  throw new Error(\"Could not load family profiles: \" + profilesResp.status);\n}\nif (!packsResp.ok) {\n  throw new Error(\"Could not load heritage packs: \" + packsResp.status);\n}\n\nconst profiles = await profilesResp.json();\nconst packs = await packsResp.json();\n\nconst profile = (profiles || []).find((p) => p.id === $json.profile_id);\nif (!profile) {\n  throw new Error(\"Profile not found for id: \" + $json.profile_id);\n}\n\nconst heritagePackId = Array.isArray(profile.heritage_pack_ids) && profile.heritage_pack_ids.length\n  ? profile.heritage_pack_ids[0]\n  : \"southeast-asian\";\n\nconst heritagePack = (packs || []).find((pack) => pack.id === heritagePackId) || {\n  id: heritagePackId,\n  label: heritagePackId,\n  style_tokens: {},\n  image_prompt_fragments: [],\n};\n\nreturn [{\n  json: {\n    ...$json,\n    profile,\n    heritage_pack_id: heritagePackId,\n    heritage_pack: heritagePack,\n  },\n}];"
      },
      "id": "code_load_context",
      "name": "Load Profile + Heritage Context",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        670,
        300
      ]
    },
    {
      "parameters": {
        "jsCode": "let patchStatus = null;\nlet patchOk = false;\nlet patchError = null;\n\ntry {\n  const resp = await fetch(\n    $json.api_base + \"/story-queue/\" + encodeURIComponent($json.queue_item_id),\n    {\n      method: \"PATCH\",\n      headers: { \"Content-Type\": \"application/json\" },\n      body: JSON.stringify({ status: \"processing\" }),\n    },\n  );\n  patchStatus = resp.status;\n  patchOk = resp.ok;\n  if (!resp.ok) patchError = await resp.text();\n} catch (error) {\n  patchError = String(error.message || error);\n}\n\nreturn [{\n  json: {\n    ...$json,\n    queue_processing_patch_status: patchStatus,\n    queue_processing_patch_ok: patchOk,\n    queue_processing_patch_error: patchError,\n  },\n}];"
      },
      "id": "code_mark_processing",
      "name": "Mark Queue Processing",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        920,
        300
      ]
    },
    {
      "parameters": {
        "jsCode": "const apiKey = $env.OPENAI_API_KEY;\nif (!apiKey) {\n  throw new Error(\"OPENAI_API_KEY is required for transcription\");\n}\n\nconst audioResp = await fetch($json.audio_url);\nif (!audioResp.ok) {\n  throw new Error(\"Could not download audio: \" + audioResp.status + \" \" + $json.audio_url);\n}\n\nconst audioBuffer = await audioResp.arrayBuffer();\nconst contentType = audioResp.headers.get(\"content-type\") || \"audio/mpeg\";\nconst extension = contentType.includes(\"wav\") ? \"wav\" : contentType.includes(\"ogg\") ? \"ogg\" : \"m4a\";\n\nconst blob = new Blob([audioBuffer], { type: contentType });\nconst form = new FormData();\nform.append(\"file\", blob, \"recording.\" + extension);\nform.append(\"model\", $json.transcribe_model);\n\nconst transcribeResp = await fetch(\"https://api.openai.com/v1/audio/transcriptions\", {\n  method: \"POST\",\n  headers: { Authorization: \"Bearer \" + apiKey },\n  body: form,\n});\n\nif (!transcribeResp.ok) {\n  const errText = await transcribeResp.text();\n  throw new Error(\"Transcription failed: \" + transcribeResp.status + \" \" + errText);\n}\n\nconst transcribeJson = await transcribeResp.json();\nconst transcript = (transcribeJson.text || transcribeJson.transcript || \"\").trim();\nif (!transcript) {\n  throw new Error(\"Transcription returned empty transcript\");\n}\n\nreturn [{\n  json: {\n    ...$json,\n    transcript,\n    transcription_meta: {\n      model: $json.transcribe_model,\n      language: transcribeJson.language || null,\n      duration_seconds: $json.duration_seconds || null,\n    },\n  },\n}];"
      },
      "id": "code_transcribe_audio",
      "name": "Transcribe Audio (OpenAI)",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1160,
        300
      ]
    },
    {
      "parameters": {
        "jsCode": "const story = $json.story;\nconst errors = [];\n\nif (!story || typeof story !== \"object\") {\n  errors.push(\"Missing story object\");\n} else {\n  const requiredTop = [\"id\", \"profile_id\", \"heritage_pack_id\", \"status\", \"metadata\", \"beats\"];\n  for (const key of requiredTop) {\n    if (story[key] === undefined || story[key] === null) errors.push(\"Missing top-level field: \" + key);\n  }\n\n  if (!Array.isArray(story.beats) || story.beats.length === 0) {\n    errors.push(\"Story requires at least one beat\");\n  }\n\n  const allowedExperiences = new Set([\"memory-cards\", \"generated-image\", \"recipe-scroll\"]);\n  for (const [idx, beat] of (story.beats || []).entries()) {\n    const requiredBeat = [\"id\", \"kind\", \"theme\", \"experience\", \"title\", \"content\"];\n    for (const key of requiredBeat) {\n      if (beat[key] === undefined || beat[key] === null || beat[key] === \"\") {\n        errors.push(\"Beat \" + (idx + 1) + \" missing field: \" + key);\n      }\n    }\n    if (beat.experience && !allowedExperiences.has(beat.experience)) {\n      errors.push(\"Beat \" + (idx + 1) + \" invalid experience: \" + beat.experience);\n    }\n  }\n}\n\nreturn [{\n  json: {\n    ...$json,\n    is_valid: errors.length === 0,\n    validation_errors: errors,\n  },\n}];"
      },
      "id": "code_validate_story",
      "name": "Validate Story Shape",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1910,
        300
      ]
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{$json[\"is_valid\"]}}",
              "operation": "isTrue"
            }
          ]
        }
      },
      "id": "if_story_valid",
      "name": "Story Is Valid?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        2150,
        300
      ]
    },
    {
      "parameters": {
        "jsCode": "let persisted = false;\nlet persistStatus = null;\nlet persistError = null;\n\ntry {\n  const resp = await fetch($json.api_base + \"/stories\", {\n    method: \"POST\",\n    headers: { \"Content-Type\": \"application/json\" },\n    body: JSON.stringify($json.story),\n  });\n  persistStatus = resp.status;\n  persisted = resp.ok;\n  if (!resp.ok) persistError = await resp.text();\n} catch (error) {\n  persistError = String(error.message || error);\n}\n\nreturn [{\n  json: {\n    ...$json,\n    persisted,\n    persist_status: persistStatus,\n    persist_error: persistError,\n  },\n}];"
      },
      "id": "code_persist_story",
      "name": "Persist Story",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2380,
        220
      ]
    },
    {
      "parameters": {
        "jsCode": "let patchStatus = null;\nlet patchOk = false;\nlet patchError = null;\n\ntry {\n  const resp = await fetch(\n    $json.api_base + \"/story-queue/\" + encodeURIComponent($json.queue_item_id),\n    {\n      method: \"PATCH\",\n      headers: { \"Content-Type\": \"application/json\" },\n      body: JSON.stringify({ status: \"complete\", story_id: $json.story.id }),\n    },\n  );\n  patchStatus = resp.status;\n  patchOk = resp.ok;\n  if (!resp.ok) patchError = await resp.text();\n} catch (error) {\n  patchError = String(error.message || error);\n}\n\nreturn [{\n  json: {\n    ...$json,\n    queue_complete_patch_status: patchStatus,\n    queue_complete_patch_ok: patchOk,\n    queue_complete_patch_error: patchError,\n  },\n}];"
      },
      "id": "code_mark_complete",
      "name": "Mark Queue Complete",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2610,
        220
      ]
    },
    {
      "parameters": {
        "jsCode": "return [{\n  json: {\n    ok: true,\n    queue_item_id: $json.queue_item_id,\n    story_id: $json.story.id,\n    share_path: \"/story/\" + $json.story.id,\n    persisted: $json.persisted,\n    persist_status: $json.persist_status,\n    persist_error: $json.persist_error || null,\n    queue_complete_patch_ok: $json.queue_complete_patch_ok,\n    queue_complete_patch_status: $json.queue_complete_patch_status,\n    queue_complete_patch_error: $json.queue_complete_patch_error || null,\n    validation_errors: $json.validation_errors || [],\n  },\n}];"
      },
      "id": "code_success_payload",
      "name": "Success Payload",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2840,
        220
      ]
    },
    {
      "parameters": {
        "jsCode": "let patchStatus = null;\nlet patchOk = false;\nlet patchError = null;\n\ntry {\n  const resp = await fetch(\n    $json.api_base + \"/story-queue/\" + encodeURIComponent($json.queue_item_id),\n    {\n      method: \"PATCH\",\n      headers: { \"Content-Type\": \"application/json\" },\n      body: JSON.stringify({\n        status: \"queued\",\n        error_note: ($json.validation_errors || []).join(\"; \").slice(0, 280),\n      }),\n    },\n  );\n  patchStatus = resp.status;\n  patchOk = resp.ok;\n  if (!resp.ok) patchError = await resp.text();\n} catch (error) {\n  patchError = String(error.message || error);\n}\n\nreturn [{\n  json: {\n    ...$json,\n    queue_failed_patch_status: patchStatus,\n    queue_failed_patch_ok: patchOk,\n    queue_failed_patch_error: patchError,\n  },\n}];"
      },
      "id": "code_mark_failed",
      "name": "Mark Queue Failed",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2380,
        380
      ]
    },
    {
      "parameters": {
        "jsCode": "return [{\n  json: {\n    ok: false,\n    stage: \"validate_story\",\n    queue_item_id: $json.queue_item_id,\n    errors: $json.validation_errors || [\"Unknown validation error\"],\n    queue_failed_patch_ok: $json.queue_failed_patch_ok,\n    queue_failed_patch_status: $json.queue_failed_patch_status,\n    queue_failed_patch_error: $json.queue_failed_patch_error || null,\n  },\n}];"
      },
      "id": "code_failure_payload",
      "name": "Failure Payload",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2610,
        380
      ]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{\"Extract grounded narrative facts from this family voice transcript. Do not invent details. Return ONLY valid JSON (no markdown) with exactly these keys: title, summary, tones, themes, memory_moments, speaker_hint, audience_hint, dedication_hint.\\n\\nProfile: \" + JSON.stringify($json.profile) + \"\\nHeritage Pack: \" + JSON.stringify($json.heritage_pack) + \"\\nTranscript: \" + $json.transcript}}",
        "options": {
          "systemMessage": "You are a careful narrative analyst. Use only evidence in the transcript and provided profile/context. If a field is unknown, infer minimally and keep it generic."
        }
      },
      "id": "agent_extract_facts",
      "name": "Extract Story Facts (AI Agent)",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        1410,
        300
      ]
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "={{$json.structure_model || $env.OPENAI_STRUCTURING_MODEL || 'gpt-4.1-mini'}}"
        },
        "options": {
          "temperature": 0.2
        }
      },
      "id": "lm_facts_openai",
      "name": "Facts Model (OpenAI Chat)",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        1410,
        520
      ]
    },
    {
      "parameters": {
        "jsCode": "const raw = $json.output ?? $json.text ?? $json.response ?? \"\";\nconst normalizeJson = (value) => {\n  if (typeof value === \"object\" && value !== null) return value;\n  const txt = String(value || \"\").trim();\n  if (!txt) throw new Error(\"Fact extraction returned empty output\");\n\n  // Accept plain JSON or fenced JSON blocks from the agent.\n  const fenced = txt.match(/```(?:json)?\\s*([\\s\\S]*?)```/i);\n  const candidate = fenced ? fenced[1].trim() : txt;\n  return JSON.parse(candidate);\n};\n\nconst parsed = normalizeJson(raw);\nconst facts = {\n  title: String(parsed.title || \"Family Memory\"),\n  summary: String(parsed.summary || \"\"),\n  tones: Array.isArray(parsed.tones) ? parsed.tones.map(String) : [\"warm\"],\n  themes: Array.isArray(parsed.themes) ? parsed.themes.map(String) : [\"family\"],\n  memory_moments: Array.isArray(parsed.memory_moments) ? parsed.memory_moments.map(String) : [],\n  speaker_hint: String(parsed.speaker_hint || $json.profile?.name || \"\"),\n  audience_hint: String(parsed.audience_hint || \"family\"),\n  dedication_hint: String(parsed.dedication_hint || \"\"),\n};\n\nreturn [{ json: { ...$json, facts, facts_raw: raw } }];"
      },
      "id": "code_parse_facts",
      "name": "Parse Story Facts",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1535,
        300
      ]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{\"Transform transcript + extracted facts into a structured story payload draft. Keep details grounded in transcript. Use only experiences: memory-cards, generated-image, recipe-scroll. Return ONLY valid JSON (no markdown) with exactly: metadata {title,speaker,audience,tone[],language_tags[],heritage_tags[]}, throughline, dedication, beats[] where each beat has kind,theme,experience,title,content,content_origin,visual_prompt,ambient_detail.\\n\\nTranscript: \" + $json.transcript + \"\\nFacts: \" + JSON.stringify($json.facts) + \"\\nProfile: \" + JSON.stringify($json.profile) + \"\\nHeritage Pack: \" + JSON.stringify($json.heritage_pack)}}",
        "options": {
          "systemMessage": "You are a family-story editor. Keep the voice warm and specific, but never invent factual events not present in the transcript. Keep beats between 4 and 8."
        }
      },
      "id": "agent_structure_story",
      "name": "Structure Story Payload (AI Agent)",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        1660,
        300
      ]
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "={{$json.structure_model || $env.OPENAI_STRUCTURING_MODEL || 'gpt-4.1-mini'}}"
        },
        "options": {
          "temperature": 0.3
        }
      },
      "id": "lm_structure_openai",
      "name": "Story Model (OpenAI Chat)",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        1660,
        520
      ]
    },
    {
      "parameters": {
        "jsCode": "const raw = $json.output ?? $json.text ?? $json.response ?? \"\";\nconst normalizeJson = (value) => {\n  if (typeof value === \"object\" && value !== null) return value;\n  const txt = String(value || \"\").trim();\n  if (!txt) throw new Error(\"Story structuring returned empty output\");\n\n  const fenced = txt.match(/```(?:json)?\\s*([\\s\\S]*?)```/i);\n  const candidate = fenced ? fenced[1].trim() : txt;\n  return JSON.parse(candidate);\n};\n\nconst structured = normalizeJson(raw);\n\nconst safeSlug = (value) =>\n  String(value || \"memory\")\n    .toLowerCase()\n    .replace(/[^a-z0-9]+/g, \"-\")\n    .replace(/(^-|-$)/g, \"\")\n    .slice(0, 32) || \"memory\";\n\nconst datePart = new Date($json.generated_at || Date.now()).toISOString().slice(0, 10);\nconst profileSlug = String($json.profile_id || \"profile\").replace(/^profile-/, \"\");\nconst titleSlug = safeSlug(structured.metadata?.title);\nconst storyId = \"story-\" + profileSlug + \"-\" + datePart + \"-\" + titleSlug;\nconst allowedExperiences = new Set([\"memory-cards\", \"generated-image\", \"recipe-scroll\"]);\n\nconst beats = (structured.beats || []).slice(0, 8).map((beat, index) => ({\n  id: \"beat-\" + String(index + 1).padStart(3, \"0\"),\n  kind: beat.kind || \"memory\",\n  theme: beat.theme || \"memory\",\n  experience: allowedExperiences.has(beat.experience) ? beat.experience : \"memory-cards\",\n  title: beat.title || \"Memory\",\n  content: beat.content || \"\",\n  content_origin: beat.content_origin || beat.content || \"\",\n  visual_prompt: beat.visual_prompt || \"\",\n  ambient_detail: beat.ambient_detail || \"\",\n}));\n\nconst story = {\n  id: storyId,\n  profile_id: $json.profile_id,\n  heritage_pack_id: $json.heritage_pack_id,\n  status: \"complete\",\n  metadata: {\n    title: structured.metadata?.title || $json.facts?.title || \"Family Memory\",\n    created_at: datePart,\n    created_by: \"n8n workflow\",\n    speaker: structured.metadata?.speaker || $json.facts?.speaker_hint || $json.profile?.name || \"\",\n    audience: structured.metadata?.audience || $json.facts?.audience_hint || \"family\",\n    heritage_tags: structured.metadata?.heritage_tags || [$json.heritage_pack_id],\n    language_tags: structured.metadata?.language_tags || $json.profile?.language_tags || [\"en\"],\n    tone: structured.metadata?.tone || $json.facts?.tones || [\"warm\"],\n  },\n  beats,\n  throughline: structured.throughline || $json.facts?.summary || \"\",\n  dedication: structured.dedication || $json.facts?.dedication_hint || \"\",\n};\n\nreturn [{ json: { ...$json, structured_raw: raw, structured_story: structured, story } }];"
      },
      "id": "code_build_story",
      "name": "Build Story Payload",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1785,
        300
      ]
    }
  ],
  "connections": {
    "Story Submitted (Webhook)": {
      "main": [
        [
          {
            "node": "Validate Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate Input": {
      "main": [
        [
          {
            "node": "Load Profile + Heritage Context",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Load Profile + Heritage Context": {
      "main": [
        [
          {
            "node": "Mark Queue Processing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mark Queue Processing": {
      "main": [
        [
          {
            "node": "Transcribe Audio (OpenAI)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Transcribe Audio (OpenAI)": {
      "main": [
        [
          {
            "node": "Extract Story Facts (AI Agent)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate Story Shape": {
      "main": [
        [
          {
            "node": "Story Is Valid?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Story Is Valid?": {
      "main": [
        [
          {
            "node": "Persist Story",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Mark Queue Failed",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Persist Story": {
      "main": [
        [
          {
            "node": "Mark Queue Complete",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mark Queue Complete": {
      "main": [
        [
          {
            "node": "Success Payload",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mark Queue Failed": {
      "main": [
        [
          {
            "node": "Failure Payload",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Story Facts (AI Agent)": {
      "main": [
        [
          {
            "node": "Parse Story Facts",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Story Facts": {
      "main": [
        [
          {
            "node": "Structure Story Payload (AI Agent)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Structure Story Payload (AI Agent)": {
      "main": [
        [
          {
            "node": "Build Story Payload",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Story Payload": {
      "main": [
        [
          {
            "node": "Validate Story Shape",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Facts Model (OpenAI Chat)": {
      "ai_languageModel": [
        [
          {
            "node": "Extract Story Facts (AI Agent)",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Story Model (OpenAI Chat)": {
      "ai_languageModel": [
        [
          {
            "node": "Structure Story Payload (AI Agent)",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "saveDataErrorExecution": "all",
    "saveDataSuccessExecution": "all",
    "saveManualExecutions": true
  },
  "pinData": {},
  "versionId": "a4e2d7d8-2f21-4a9b-bf4d-voice-structure-v1"
}
