backend/n8n/workflows/hana-voice-to-story.json
{
  "name": "Hana - Voice to Structured Story",
  "nodes": [
    {
      "parameters": {
        "path": "hana/voice-to-story",
        "httpMethod": "POST",
        "responseMode": "lastNode",
        "options": {}
      },
      "id": "webhook_story_submitted",
      "name": "Story Submitted (Webhook)",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        220,
        300
      ],
      "webhookId": "hana-voice-to-story"
    },
    {
      "parameters": {
        "jsCode": "const payload = $json;\nconst required = [\"queue_item_id\", \"profile_id\", \"audio_url\"];\nconst missing = required.filter((key) => !payload[key]);\nif (missing.length) {\n  throw new Error(\"Missing required fields: \" + missing.join(\", \"));\n}\n\nconst normalized = {\n  ...payload,\n  api_base:\n    payload.api_base ||\n    $env.HANA_API_BASE ||\n    \"http://localhost:3100/api\",\n  transcribe_model:\n    payload.transcribe_model ||\n    $env.OPENAI_TRANSCRIBE_MODEL ||\n    \"gpt-4o-mini-transcribe\",\n  structure_model:\n    payload.structure_model ||\n    $env.OPENAI_STRUCTURING_MODEL ||\n    \"gpt-4.1-mini\",\n  generated_at: new Date().toISOString(),\n};\n\nreturn [{ json: normalized }];"
      },
      "id": "code_validate_input",
      "name": "Validate Input",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        440,
        300
      ]
    },
    {
      "parameters": {
        "jsCode": "const apiBase = $json.api_base;\n\nconst [profilesResp, packsResp] = await Promise.all([\n  fetch(apiBase + \"/family-profiles\"),\n  fetch(apiBase + \"/heritage-packs\"),\n]);\n\nif (!profilesResp.ok) {\n  throw new Error(\"Could not load family profiles: \" + profilesResp.status);\n}\nif (!packsResp.ok) {\n  throw new Error(\"Could not load heritage packs: \" + packsResp.status);\n}\n\nconst profiles = await profilesResp.json();\nconst packs = await packsResp.json();\n\nconst profile = (profiles || []).find((p) => p.id === $json.profile_id);\nif (!profile) {\n  throw new Error(\"Profile not found for id: \" + $json.profile_id);\n}\n\nconst heritagePackId = Array.isArray(profile.heritage_pack_ids) && profile.heritage_pack_ids.length\n  ? profile.heritage_pack_ids[0]\n  : \"southeast-asian\";\n\nconst heritagePack = (packs || []).find((pack) => pack.id === heritagePackId) || {\n  id: heritagePackId,\n  label: heritagePackId,\n  style_tokens: {},\n  image_prompt_fragments: [],\n};\n\nreturn [{\n  json: {\n    ...$json,\n    profile,\n    heritage_pack_id: heritagePackId,\n    heritage_pack: heritagePack,\n  },\n}];"
      },
      "id": "code_load_context",
      "name": "Load Profile + Heritage Context",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        670,
        300
      ]
    },
    {
      "parameters": {
        "jsCode": "let patchStatus = null;\nlet patchOk = false;\nlet patchError = null;\n\ntry {\n  const resp = await fetch(\n    $json.api_base + \"/story-queue/\" + encodeURIComponent($json.queue_item_id),\n    {\n      method: \"PATCH\",\n      headers: { \"Content-Type\": \"application/json\" },\n      body: JSON.stringify({ status: \"processing\" }),\n    },\n  );\n  patchStatus = resp.status;\n  patchOk = resp.ok;\n  if (!resp.ok) patchError = await resp.text();\n} catch (error) {\n  patchError = String(error.message || error);\n}\n\nreturn [{\n  json: {\n    ...$json,\n    queue_processing_patch_status: patchStatus,\n    queue_processing_patch_ok: patchOk,\n    queue_processing_patch_error: patchError,\n  },\n}];"
      },
      "id": "code_mark_processing",
      "name": "Mark Queue Processing",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        920,
        300
      ]
    },
    {
      "parameters": {
        "jsCode": "const apiKey = $env.OPENAI_API_KEY;\nif (!apiKey) {\n  throw new Error(\"OPENAI_API_KEY is required for transcription\");\n}\n\nconst audioResp = await fetch($json.audio_url);\nif (!audioResp.ok) {\n  throw new Error(\"Could not download audio: \" + audioResp.status + \" \" + $json.audio_url);\n}\n\nconst audioBuffer = await audioResp.arrayBuffer();\nconst contentType = audioResp.headers.get(\"content-type\") || \"audio/mpeg\";\nconst extension = contentType.includes(\"wav\") ? \"wav\" : contentType.includes(\"ogg\") ? \"ogg\" : \"m4a\";\n\nconst blob = new Blob([audioBuffer], { type: contentType });\nconst form = new FormData();\nform.append(\"file\", blob, \"recording.\" + extension);\nform.append(\"model\", $json.transcribe_model);\n\nconst transcribeResp = await fetch(\"https://api.openai.com/v1/audio/transcriptions\", {\n  method: \"POST\",\n  headers: { Authorization: \"Bearer \" + apiKey },\n  body: form,\n});\n\nif (!transcribeResp.ok) {\n  const errText = await transcribeResp.text();\n  throw new Error(\"Transcription failed: \" + transcribeResp.status + \" \" + errText);\n}\n\nconst transcribeJson = await transcribeResp.json();\nconst transcript = (transcribeJson.text || transcribeJson.transcript || \"\").trim();\nif (!transcript) {\n  throw new Error(\"Transcription returned empty transcript\");\n}\n\nreturn [{\n  json: {\n    ...$json,\n    transcript,\n    transcription_meta: {\n      model: $json.transcribe_model,\n      language: transcribeJson.language || null,\n      duration_seconds: $json.duration_seconds || null,\n    },\n  },\n}];"
      },
      "id": "code_transcribe_audio",
      "name": "Transcribe Audio (OpenAI)",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1160,
        300
      ]
    },
    {
      "parameters": {
        "jsCode": "const apiKey = $env.OPENAI_API_KEY;\nif (!apiKey) {\n  throw new Error(\"OPENAI_API_KEY is required for fact extraction\");\n}\n\nconst parseOutputJson = (responseJson) => {\n  if (responseJson.output_text) {\n    return JSON.parse(responseJson.output_text);\n  }\n  const output = responseJson.output || [];\n  for (const block of output) {\n    for (const content of block.content || []) {\n      if (content.type === \"output_text\" && content.text) {\n        return JSON.parse(content.text);\n      }\n    }\n  }\n  throw new Error(\"Could not parse JSON from model response\");\n};\n\nconst schema = {\n  type: \"object\",\n  additionalProperties: false,\n  required: [\"title\", \"summary\", \"tones\", \"themes\", \"memory_moments\", \"speaker_hint\", \"audience_hint\", \"dedication_hint\"],\n  properties: {\n    title: { type: \"string\" },\n    summary: { type: \"string\" },\n    tones: { type: \"array\", items: { type: \"string\" } },\n    themes: { type: \"array\", items: { type: \"string\" } },\n    memory_moments: { type: \"array\", items: { type: \"string\" } },\n    speaker_hint: { type: \"string\" },\n    audience_hint: { type: \"string\" },\n    dedication_hint: { type: \"string\" },\n  },\n};\n\nconst body = {\n  model: $json.structure_model,\n  input: [\n    {\n      role: \"system\",\n      content: [{\n        type: \"input_text\",\n        text: \"Extract grounded narrative facts from a family voice transcript. Do not invent specifics. Return JSON only.\",\n      }],\n    },\n    {\n      role: \"user\",\n      content: [{\n        type: \"input_text\",\n        text:\n          \"Profile: \" + JSON.stringify($json.profile) +\n          \"\\nHeritage Pack: \" + JSON.stringify($json.heritage_pack) +\n          \"\\nTranscript: \" + $json.transcript,\n      }],\n    },\n  ],\n  text: {\n    format: {\n      type: \"json_schema\",\n      name: \"story_facts\",\n      strict: true,\n      schema,\n    },\n  },\n};\n\nconst resp = await fetch(\"https://api.openai.com/v1/responses\", {\n  method: \"POST\",\n  headers: {\n    Authorization: \"Bearer \" + apiKey,\n    \"Content-Type\": \"application/json\",\n  },\n  body: JSON.stringify(body),\n});\n\nif (!resp.ok) {\n  const errText = await resp.text();\n  throw new Error(\"Fact extraction failed: \" + resp.status + \" \" + errText);\n}\n\nconst responseJson = await resp.json();\nconst facts = parseOutputJson(responseJson);\n\nreturn [{ json: { ...$json, facts } }];"
      },
      "id": "code_extract_facts",
      "name": "Extract Story Facts (OpenAI)",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1410,
        300
      ]
    },
    {
      "parameters": {
        "jsCode": "const apiKey = $env.OPENAI_API_KEY;\nif (!apiKey) {\n  throw new Error(\"OPENAI_API_KEY is required for story structuring\");\n}\n\nconst parseOutputJson = (responseJson) => {\n  if (responseJson.output_text) {\n    return JSON.parse(responseJson.output_text);\n  }\n  const output = responseJson.output || [];\n  for (const block of output) {\n    for (const content of block.content || []) {\n      if (content.type === \"output_text\" && content.text) {\n        return JSON.parse(content.text);\n      }\n    }\n  }\n  throw new Error(\"Could not parse JSON from model response\");\n};\n\nconst schema = {\n  type: \"object\",\n  additionalProperties: false,\n  required: [\"metadata\", \"throughline\", \"dedication\", \"beats\"],\n  properties: {\n    metadata: {\n      type: \"object\",\n      additionalProperties: false,\n      required: [\"title\", \"speaker\", \"audience\", \"tone\", \"language_tags\", \"heritage_tags\"],\n      properties: {\n        title: { type: \"string\" },\n        speaker: { type: \"string\" },\n        audience: { type: \"string\" },\n        tone: { type: \"array\", items: { type: \"string\" } },\n        language_tags: { type: \"array\", items: { type: \"string\" } },\n        heritage_tags: { type: \"array\", items: { type: \"string\" } },\n      },\n    },\n    throughline: { type: \"string\" },\n    dedication: { type: \"string\" },\n    beats: {\n      type: \"array\",\n      minItems: 4,\n      maxItems: 8,\n      items: {\n        type: \"object\",\n        additionalProperties: false,\n        required: [\"kind\", \"theme\", \"experience\", \"title\", \"content\", \"content_origin\", \"visual_prompt\", \"ambient_detail\"],\n        properties: {\n          kind: { type: \"string\" },\n          theme: { type: \"string\" },\n          experience: { type: \"string\" },\n          title: { type: \"string\" },\n          content: { type: \"string\" },\n          content_origin: { type: \"string\" },\n          visual_prompt: { type: \"string\" },\n          ambient_detail: { type: \"string\" },\n        },\n      },\n    },\n  },\n};\n\nconst body = {\n  model: $json.structure_model,\n  input: [\n    {\n      role: \"system\",\n      content: [{\n        type: \"input_text\",\n        text:\n          \"Transform family memory transcript facts into a structured story payload. Keep details grounded in transcript. Use only experiences: memory-cards, generated-image, recipe-scroll.\",\n      }],\n    },\n    {\n      role: \"user\",\n      content: [{\n        type: \"input_text\",\n        text:\n          \"Transcript: \" + $json.transcript +\n          \"\\nFacts: \" + JSON.stringify($json.facts) +\n          \"\\nProfile: \" + JSON.stringify($json.profile) +\n          \"\\nHeritage Pack: \" + JSON.stringify($json.heritage_pack) +\n          \"\\nOutput must fit the provided JSON schema.\",\n      }],\n    },\n  ],\n  text: {\n    format: {\n      type: \"json_schema\",\n      name: \"structured_story\",\n      strict: true,\n      schema,\n    },\n  },\n};\n\nconst resp = await fetch(\"https://api.openai.com/v1/responses\", {\n  method: \"POST\",\n  headers: {\n    Authorization: \"Bearer \" + apiKey,\n    \"Content-Type\": \"application/json\",\n  },\n  body: JSON.stringify(body),\n});\n\nif (!resp.ok) {\n  const errText = await resp.text();\n  throw new Error(\"Story structuring failed: \" + resp.status + \" \" + errText);\n}\n\nconst structured = parseOutputJson(await resp.json());\n\nconst safeSlug = (value) =>\n  String(value || \"memory\")\n    .toLowerCase()\n    .replace(/[^a-z0-9]+/g, \"-\")\n    .replace(/(^-|-$)/g, \"\")\n    .slice(0, 32) || \"memory\";\n\nconst datePart = new Date($json.generated_at || Date.now()).toISOString().slice(0, 10);\nconst profileSlug = String($json.profile_id || \"profile\").replace(/^profile-/, \"\");\nconst titleSlug = safeSlug(structured.metadata?.title);\nconst storyId = \"story-\" + profileSlug + \"-\" + datePart + \"-\" + titleSlug;\nconst allowedExperiences = new Set([\"memory-cards\", \"generated-image\", \"recipe-scroll\"]);\n\nconst beats = (structured.beats || []).slice(0, 8).map((beat, index) => ({\n  id: \"beat-\" + String(index + 1).padStart(3, \"0\"),\n  kind: beat.kind || \"memory\",\n  theme: beat.theme || \"memory\",\n  experience: allowedExperiences.has(beat.experience) ? beat.experience : \"memory-cards\",\n  title: beat.title || \"Memory\",\n  content: beat.content || \"\",\n  content_origin: beat.content_origin || beat.content || \"\",\n  visual_prompt: beat.visual_prompt || \"\",\n  ambient_detail: beat.ambient_detail || \"\",\n}));\n\nconst story = {\n  id: storyId,\n  profile_id: $json.profile_id,\n  heritage_pack_id: $json.heritage_pack_id,\n  status: \"complete\",\n  metadata: {\n    title: structured.metadata?.title || $json.facts?.title || \"Family Memory\",\n    created_at: datePart,\n    created_by: \"n8n workflow\",\n    speaker: structured.metadata?.speaker || $json.facts?.speaker_hint || $json.profile?.name || \"\",\n    audience: structured.metadata?.audience || $json.facts?.audience_hint || \"family\",\n    heritage_tags: structured.metadata?.heritage_tags || [$json.heritage_pack_id],\n    language_tags: structured.metadata?.language_tags || $json.profile?.language_tags || [\"en\"],\n    tone: structured.metadata?.tone || $json.facts?.tones || [\"warm\"],\n  },\n  beats,\n  throughline: structured.throughline || $json.facts?.summary || \"\",\n  dedication: structured.dedication || $json.facts?.dedication_hint || \"\",\n};\n\nreturn [{ json: { ...$json, story } }];"
      },
      "id": "code_structure_story",
      "name": "Structure Story Payload (OpenAI)",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1660,
        300
      ]
    },
    {
      "parameters": {
        "jsCode": "const story = $json.story;\nconst errors = [];\n\nif (!story || typeof story !== \"object\") {\n  errors.push(\"Missing story object\");\n} else {\n  const requiredTop = [\"id\", \"profile_id\", \"heritage_pack_id\", \"status\", \"metadata\", \"beats\"];\n  for (const key of requiredTop) {\n    if (story[key] === undefined || story[key] === null) errors.push(\"Missing top-level field: \" + key);\n  }\n\n  if (!Array.isArray(story.beats) || story.beats.length === 0) {\n    errors.push(\"Story requires at least one beat\");\n  }\n\n  const allowedExperiences = new Set([\"memory-cards\", \"generated-image\", \"recipe-scroll\"]);\n  for (const [idx, beat] of (story.beats || []).entries()) {\n    const requiredBeat = [\"id\", \"kind\", \"theme\", \"experience\", \"title\", \"content\"];\n    for (const key of requiredBeat) {\n      if (beat[key] === undefined || beat[key] === null || beat[key] === \"\") {\n        errors.push(\"Beat \" + (idx + 1) + \" missing field: \" + key);\n      }\n    }\n    if (beat.experience && !allowedExperiences.has(beat.experience)) {\n      errors.push(\"Beat \" + (idx + 1) + \" invalid experience: \" + beat.experience);\n    }\n  }\n}\n\nreturn [{\n  json: {\n    ...$json,\n    is_valid: errors.length === 0,\n    validation_errors: errors,\n  },\n}];"
      },
      "id": "code_validate_story",
      "name": "Validate Story Shape",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1910,
        300
      ]
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{$json[\"is_valid\"]}}",
              "operation": "isTrue"
            }
          ]
        }
      },
      "id": "if_story_valid",
      "name": "Story Is Valid?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        2150,
        300
      ]
    },
    {
      "parameters": {
        "jsCode": "let persisted = false;\nlet persistStatus = null;\nlet persistError = null;\n\ntry {\n  const resp = await fetch($json.api_base + \"/stories\", {\n    method: \"POST\",\n    headers: { \"Content-Type\": \"application/json\" },\n    body: JSON.stringify($json.story),\n  });\n  persistStatus = resp.status;\n  persisted = resp.ok;\n  if (!resp.ok) persistError = await resp.text();\n} catch (error) {\n  persistError = String(error.message || error);\n}\n\nreturn [{\n  json: {\n    ...$json,\n    persisted,\n    persist_status: persistStatus,\n    persist_error: persistError,\n  },\n}];"
      },
      "id": "code_persist_story",
      "name": "Persist Story",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2380,
        220
      ]
    },
    {
      "parameters": {
        "jsCode": "let patchStatus = null;\nlet patchOk = false;\nlet patchError = null;\n\ntry {\n  const resp = await fetch(\n    $json.api_base + \"/story-queue/\" + encodeURIComponent($json.queue_item_id),\n    {\n      method: \"PATCH\",\n      headers: { \"Content-Type\": \"application/json\" },\n      body: JSON.stringify({ status: \"complete\", story_id: $json.story.id }),\n    },\n  );\n  patchStatus = resp.status;\n  patchOk = resp.ok;\n  if (!resp.ok) patchError = await resp.text();\n} catch (error) {\n  patchError = String(error.message || error);\n}\n\nreturn [{\n  json: {\n    ...$json,\n    queue_complete_patch_status: patchStatus,\n    queue_complete_patch_ok: patchOk,\n    queue_complete_patch_error: patchError,\n  },\n}];"
      },
      "id": "code_mark_complete",
      "name": "Mark Queue Complete",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2610,
        220
      ]
    },
    {
      "parameters": {
        "jsCode": "return [{\n  json: {\n    ok: true,\n    queue_item_id: $json.queue_item_id,\n    story_id: $json.story.id,\n    share_path: \"/story/\" + $json.story.id,\n    persisted: $json.persisted,\n    persist_status: $json.persist_status,\n    persist_error: $json.persist_error || null,\n    queue_complete_patch_ok: $json.queue_complete_patch_ok,\n    queue_complete_patch_status: $json.queue_complete_patch_status,\n    queue_complete_patch_error: $json.queue_complete_patch_error || null,\n    validation_errors: $json.validation_errors || [],\n  },\n}];"
      },
      "id": "code_success_payload",
      "name": "Success Payload",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2840,
        220
      ]
    },
    {
      "parameters": {
        "jsCode": "let patchStatus = null;\nlet patchOk = false;\nlet patchError = null;\n\ntry {\n  const resp = await fetch(\n    $json.api_base + \"/story-queue/\" + encodeURIComponent($json.queue_item_id),\n    {\n      method: \"PATCH\",\n      headers: { \"Content-Type\": \"application/json\" },\n      body: JSON.stringify({\n        status: \"queued\",\n        error_note: ($json.validation_errors || []).join(\"; \").slice(0, 280),\n      }),\n    },\n  );\n  patchStatus = resp.status;\n  patchOk = resp.ok;\n  if (!resp.ok) patchError = await resp.text();\n} catch (error) {\n  patchError = String(error.message || error);\n}\n\nreturn [{\n  json: {\n    ...$json,\n    queue_failed_patch_status: patchStatus,\n    queue_failed_patch_ok: patchOk,\n    queue_failed_patch_error: patchError,\n  },\n}];"
      },
      "id": "code_mark_failed",
      "name": "Mark Queue Failed",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2380,
        380
      ]
    },
    {
      "parameters": {
        "jsCode": "return [{\n  json: {\n    ok: false,\n    stage: \"validate_story\",\n    queue_item_id: $json.queue_item_id,\n    errors: $json.validation_errors || [\"Unknown validation error\"],\n    queue_failed_patch_ok: $json.queue_failed_patch_ok,\n    queue_failed_patch_status: $json.queue_failed_patch_status,\n    queue_failed_patch_error: $json.queue_failed_patch_error || null,\n  },\n}];"
      },
      "id": "code_failure_payload",
      "name": "Failure Payload",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2610,
        380
      ]
    }
  ],
  "connections": {
    "Story Submitted (Webhook)": {
      "main": [
        [
          {
            "node": "Validate Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate Input": {
      "main": [
        [
          {
            "node": "Load Profile + Heritage Context",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Load Profile + Heritage Context": {
      "main": [
        [
          {
            "node": "Mark Queue Processing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mark Queue Processing": {
      "main": [
        [
          {
            "node": "Transcribe Audio (OpenAI)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Transcribe Audio (OpenAI)": {
      "main": [
        [
          {
            "node": "Extract Story Facts (OpenAI)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Story Facts (OpenAI)": {
      "main": [
        [
          {
            "node": "Structure Story Payload (OpenAI)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Structure Story Payload (OpenAI)": {
      "main": [
        [
          {
            "node": "Validate Story Shape",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate Story Shape": {
      "main": [
        [
          {
            "node": "Story Is Valid?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Story Is Valid?": {
      "main": [
        [
          {
            "node": "Persist Story",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Mark Queue Failed",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Persist Story": {
      "main": [
        [
          {
            "node": "Mark Queue Complete",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mark Queue Complete": {
      "main": [
        [
          {
            "node": "Success Payload",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mark Queue Failed": {
      "main": [
        [
          {
            "node": "Failure Payload",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "saveDataErrorExecution": "all",
    "saveDataSuccessExecution": "all",
    "saveManualExecutions": true
  },
  "pinData": {},
  "versionId": "a4e2d7d8-2f21-4a9b-bf4d-voice-structure-v1"
}
